extends ../layout
block assets
    script.
        $(document).ready(()=>{
            let accessToken = localStorage.getItem("accessToken");
            if(accessToken){
                $("#changePass").click(function(){
                    $.post({
                        url:'/auth/changePassword',
                        data: {                        
                            password: $('#password').val()
                        },
                        headers:{
                            'Authorization': accessToken
                        }
                    })
                    .done((data)=>{                        
                        alert(data.message);
                        $('input').val("");

                    })
                    .fail((err)=>{
                        alert(err.responseJSON.message);
                    });
                });            
            }
            else{
                alert("you have to login!");
                $('#changePass').prop('disabled',true);
            }
        });

block content
    div        
        div
            label new password:
            input#password(type="password" name="password")
        div
            button#changePass Change password