doctype html
html
    head
        title= title
        script(src="/assets/jquery/jquery.min.js")
        link(rel='stylesheet', href='/stylesheets/style.css')
        block assets
    body
        div#container
        block content
